@model kategori

<form asp-controller="Kategori" asp-action="Ekle" method="post">
    <div class="mb-3">
        <label class="form-label">kategori adı</label>
        <input asp-for="kategoriadi" class="form-control" placeholder="kategori adı">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Kategoriyi Ekle</button>
    </div>
</form>