@model kategori
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<form asp-controller="Kategori" asp-action="KullaniciEkle" method="post">
    <div class="mb-3">
        <label class="form-label">Kategori adı</label>
        <input asp-for="kategoriadi" class="form-control" placeholder="kategori adı">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Kategoriyi Ekle</button>
    </div>
</form>