@model kategori
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@if (TempData["RolidMesaj"] != null)
{

    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><font style="vertical-align: inherit;">@TempData["RolidMesaj"].ToString()</font></h4>
        <p><font style="vertical-align: inherit;">Eğer admin değilseniz kategori girişi yapamazsınız!</font></p>
    </div>

}


<form asp-controller="Kategori" asp-action="KullaniciGuncelle" method="post">
    <input type="hidden" asp-for="id" />
    <div class="mb-3">
        <label class="form-label">Kategori adı</label>
        <input asp-for="kategoriadi" class="form-control" placeholder="kategori adı">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Güncelle</button>
    </div>
</form>