@model List<kategori>

<div>
    <a asp-controller="Kategori" asp-action="Ekle" class="btn btn-success">Kategori Ekle</a>
</div>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">#Id</th>
            <th scope="col">Adı</th>
            <th scope="col">İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.kategoriadi</td>
                <td>

                    <a class="btn btn-warning" asp-controller="Kategori" asp-action="Guncelle" asp-route-id="@item.id">Güncelle</a>
                    <a class="btn btn-danger" asp-controller="Kategori" asp-action="Sil" asp-route-id="@item.id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>