@model Kullanici

@{
    Layout = "/Views/Shared/_LayoutLogin.cshtml";
}


<form asp-controller="Kullanici" asp-action="Giriş" method="post">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" asp-for="Email" placeholder="name@example.com">
        <label for="floatingInput">Email Adres</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" asp-for="sifre" placeholder="Password">
        <label for="floatingPassword">Şifre</label>
    </div>

    <div class="d-grid">
        <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">
            Giriş Yap
        </button>
    </div>
    <br /><br /><br />
    <h4 class="login-heading mb-4">Hesabınız Yok Mu</h4>

    <div class="d-grid">
        <a asp-controller="Kullanici" asp-action="KayıtOl" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2">
            Kayıt Ol
        </a>
    </div>

</form>