@model KullaniciViewModel
@{
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}
<form asp-controller="Kullanici" asp-action="Guncelle" method="post" enctype="multipart/form-data">

    <div class="class">
        <label for="myfile">Resim Ekleyin:</label>
        <input asp-for="profilfotografi" type="file" id="myfile" name="myfile" accept="image/*" onchange="displayImage(event)"><br><br>

        <div class="img-container">
            <svg id="placeholder-image" class="bd-placeholder-img img-thumbnail" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Yer tutucu resim: 200x200" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Yer tutucu resim</title>
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">200x200</text>
            </svg>
        </div>

    </div>

    <div>
        <h4>Kullanıcı Bilgileri</h4>
        <div class="mb-3">
            <input type="hidden" id="disabledTextInput" asp-for="profilfotografi" class="form-control" placeholder="Disabled input">
        </div>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Adınız</label>
            <input type="text" id="disabledTextInput" asp-for="adi" class="form-control" placeholder="Disabled input">
        </div>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Soyadınız</label>
            <input type="text" id="disabledTextInput" asp-for="soyadi" class="form-control" placeholder="Disabled input">
        </div>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Emailiniz</label>
            <input type="text" id="disabledTextInput" asp-for="Email" class="form-control" placeholder="Disabled input" disabled="">
        </div>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Şifreniz</label>
            <input type="text" id="disabledTextInput" asp-for="sifre" class="form-control" placeholder="Disabled input">
        </div>

        <button type="submit" class="btn btn-success">Bilgileri Güncelle</button>
    </div>

</form>
<script>
    function displayImage(event) {
        var img = document.getElementById('placeholder-image');
        img.innerHTML = '';
        var file = event.target.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                img.innerHTML = '<image width="200" height="200" xlink:href="' + e.target.result + '"/>';
            }
            reader.readAsDataURL(file);
        }
    }
</script>
