@model Kullanici

    <form asp-controller="Kullanici" asp-action="KayıtOl" method="post" class="row g-3">
        <div class="col-md-6">
            <label for="adi" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Adınız</font></font></label>
        <input type="text" class="form-control" asp-for="adi">
        </div>
        <div class="col-md-6">
            <label for="soyadi" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Soyadınız</font></font></label>
        <input type="text" class="form-control" asp-for="soyadi">
        </div>
        <div class="col-12">
        <label for="email" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Email</font></font></label>
        <input type="email" class="form-control" asp-for="Email" placeholder="1234@gmail.com">
        </div>
        <div class="col-12">
        <label for="sifre" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Şifreniz</font></font></label>
        <input type="password" class="form-control" asp-for="sifre" placeholder="Şifreniz güvenlik için sayı,karakter,rakam içermelidir">
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label" for="gridCheck">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Onaylıyorum
                        </font>
                    </font>
                </label>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kayıt olmak</font></font></button>
        </div>
    </form>    

@*form etiketlerini asp for ile almam gerekiyor *@