@model KullaniciViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<form>
    <div>
        <h4>Kullanıcı Bilgileri</h4>

        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Fotoğrafınız</label>
            <br />
            <img src="/images/@Model.profilfotograf" width="200" height="auto" />
            <input type="hidden" id="disabledTextInput" asp-for="profilfotograf" class="form-control" placeholder="Disabled input" disabled="">
        </div>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Adınız</label>
            <input type="text" id="disabledTextInput" asp-for="adi" class="form-control" placeholder="Disabled input" disabled="">
        </div>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Soyadınız</label>
            <input type="text" id="disabledTextInput" asp-for="soyadi" class="form-control" placeholder="Disabled input" disabled="">
        </div>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Emailiniz</label>
            <input type="text" id="disabledTextInput" asp-for="Email" class="form-control" placeholder="Disabled input" disabled="">
        </div>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Şifreniz</label>
            <input type="text" id="disabledTextInput" asp-for="sifre" class="form-control" placeholder="Disabled input" disabled="">
        </div>

        <a asp-controller="Kullanici" asp-action="KulaniciGuncelle" asp-route-id="@Model.id" class="btn btn-warning">Bilgileri Güncelle</a>
    </div>
</form>