@model paylasim
@{
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}
@if (TempData["RolidMesaj"] != null)
{

    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><font style="vertical-align: inherit;">@TempData["RolidMesaj"].ToString()</font></h4>
        <p><font style="vertical-align: inherit;">Eğer admin değilseniz Güncelleme yapamazsınız!</font></p>
    </div>

}
<form asp-controller="Paylasim" asp-action="Guncelle" method="post">
    <input type="hidden" asp-for="id" />

    
    <div class="mb-3">
        <label class="form-label">Başlık</label>
        <input asp-for="baslik" class="form-control" placeholder="Yeni başlığınızı giriniz">
    </div>
    <div class="mb-3">
        <label class="form-label">içerik</label>
        <input asp-for="icerik" class="form-control" placeholder="Yeni içeriğinizi giriniz">
    </div>
    <div class="mb-3">
        <label class="form-label">Yeni Tarih</label>
        <input asp-for="olusturmatarihi" class="form-control" placeholder="Yeni düzenleme tarihini giriniz">
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-success">Güncelle</button>
    </div>
</form>